<div class="mt-4">
	<h4 class="devoured-burger-name">{{burger}}</h4>

	<!--Throw away burger button-->
	<button class="delete-burger btn btn-success" data-id="{{this.id}}"><i class="far fa-trash-alt"></i>  Toss it out!</button>
</div>