<div class="mt-4">
	<h4>{{burger}}</h4>

	<!--Devour me button-->
	<button class="change-devour btn btn-success" data-id="{{id}}" data-newdevour="{{devour}}">
		<img src="/assets/img/burger-flat.png.png" width="25px" height="25px">  Eat ME!!
	</button>
</div>

